.nycidm-header .upper-header-black {
    background: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 25px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
}

.nycidm-header .small-nyc-logo {
    height: 15px;
    width: 40px;
    position: relative;
    top: -4px;
}

.container-nycidm {
    *zoom: 1;
    max-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    /*position: relative;*/
}
.nycidm-header .vert-divide {
    margin: 0 10px;
}
.vert-divide-right {
    float: right;
    margin: 0 10px;
}

.nycidm-header .upper-header-black-title {
    position: relative;
    top: -7px;
    color: #fff;
    font-size: 12px;
}

