<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HHSPortal</display-name>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/applicationContext.xml</param-value>
  </context-param>

<!-- Application Listener -->  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
 <!-- 
    <web-resource-collection>
      <web-resource-name>Success</web-resource-name>
      <url-pattern>/HHSPortal/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
   -->  
   <web-resource-collection>
      <web-resource-name>SecurePages</web-resource-name>
      <description>These pages are only accessible by authorized users.</description>
      <url-pattern>/portal/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method> 
    </web-resource-collection>
    <auth-constraint>
      <role-name>myRole</role-name>
    </auth-constraint>
<user-data-constraint> 
<description>For SSL</description>
<transport-guarantee>CONFIDENTIAL</transport-guarantee> 
</user-data-constraint> 
  </security-constraint>
  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
    <realm-name>myrealm</realm-name>
  </login-config>
  <security-role>
    <role-name>Certificate</role-name>
<!--     <role-name>myRole</role-name> -->
  </security-role>
  <servlet>
    <servlet-name>ViewRendererServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRendererServlet</servlet-name>
    <url-pattern>/WEB-INF/servlet/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>HHSUtilServlet</display-name>
    <servlet-name>HHSUtilServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.HHSUtilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HHSUtilServlet</servlet-name>
    <url-pattern>/GetContent.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
      </description>
    <display-name>AutoCompleteServlet</display-name>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.AutoCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <url-pattern>/AutoCompleteServlet.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
      </description>
    <display-name>UserSearchServlet</display-name>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.UserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/UserSearchServlet.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Address Validation Servlet</description>
    <display-name>AddressValidationServlet</display-name>
    <servlet-name>AddressValidationServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.AddressValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressValidationServlet</servlet-name>
    <url-pattern>/AddressValidationServlet.jsp</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <display-name>oracle_webinf_constraint</display-name>
    <web-resource-collection>
      <web-resource-name>oracle_forbidden</web-resource-name>
      <url-pattern>/WEB-INF/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
		<description>only let the system user login</description>  
		<role-name>Certificate</role-name>
    </auth-constraint>
    <user-data-constraint> 
	<description>For SSL</description>
	<transport-guarantee>CONFIDENTIAL</transport-guarantee> 
</user-data-constraint> 
    
  </security-constraint>
  <filter>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>com.nyc.hhs.filter.RedirectFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.nyc.hhs.servlet.CachingListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.nyc.hhs.servlet.HHSContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.nyc.hhs.sessionListener.SessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ContactUsServlet</display-name>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/ContactUsServlet.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServiceServlet</display-name>
    <servlet-name>SearchServiceServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.SearchServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServiceServlet</servlet-name>
    <url-pattern>/searchServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>RetrieveQuestionsAjaxServlet</display-name>
    <servlet-name>RetrieveQuestionsAjaxServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.RetrieveQuestionsAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveQuestionsAjaxServlet</servlet-name>
    <url-pattern>/RetrieveQuestionsAjaxServlet.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaxonomyServlet</display-name>
    <servlet-name>TaxonomyServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.TaxonomyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaxonomyServlet</servlet-name>
    <url-pattern>/TaxonomyServlet.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CachingTaxonomyServlet</display-name>
    <servlet-name>CachingTaxonomyServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.CachingTaxonomyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CachingTaxonomyServlet</servlet-name>
    <url-pattern>/recacheTaxonomy.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAAASession</display-name>
    <servlet-name>SaveAAASession</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.SaveTextSizeInSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAAASession</servlet-name>
    <url-pattern>/saveAAASize</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>docx</extension>
    <mime-type>application/vnd.ms-word.document.macroEnabled.12.docm</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xlsx</extension>
    <mime-type>application/vnd.ms-excel.addin.macroEnabled.12xlam</mime-type>
  </mime-mapping>
  <servlet>
    <description></description>
    <display-name>CachingTransactionConfigServlet</display-name>
    <servlet-name>CachingTransactionConfigServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.CachingTransactionConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CachingTransactionConfigServlet</servlet-name>
    <url-pattern>/CachingTransactionConfig.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
      </description>
    <display-name>AutoSaveServlet</display-name>
    <servlet-name>AutoSaveServlet</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.AutoSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoSaveServlet</servlet-name>
    <url-pattern>/AutoSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>DownloadAllBatch</display-name>
    <servlet-name>DownloadAllBatch</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.DownloadAllBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAllBatch</servlet-name>
    <url-pattern>/DownloadAllBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>ExportAllBatch</display-name>
    <servlet-name>ExportAllBatch</servlet-name>
    <servlet-class>com.nyc.hhs.servlet.ExportAllBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportAllBatch</servlet-name>
    <url-pattern>/ExportAllBatch</url-pattern>
  </servlet-mapping>
 <!--Start QC 9383 R 8.0.0 appScan crossSite scripting issue-->
  <servlet>
		<servlet-name>logoutredirect</servlet-name>
		<jsp-file>/WEB-INF/jsp/logoutredirect.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  		<servlet-name>logoutredirect</servlet-name>
  		<url-pattern>/logoutredirect.jsp</url-pattern>
  </servlet-mapping>
<!--End QC 9383 R 8.0.0 appScan crossSite scripting issue-->
  <!--  R 8.0.0 SAML Internal -->
  <servlet>
    <description></description>
    <display-name>secure</display-name>
    <servlet-name>secure</servlet-name>
    <jsp-file>/secure/secure.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secure</servlet-name>
    <url-pattern>/secure</url-pattern>
  </servlet-mapping>
  
  <servlet>
   	<servlet-name>dictionaryDataJS</servlet-name>
   	<jsp-file>/dictionaryDataJS.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
	  <servlet-name>dictionaryDataJS</servlet-name>
	  <url-pattern>/dictionaryDataJS</url-pattern>
  </servlet-mapping>
  <servlet>
   	<servlet-name>dictionaryAlgoJS</servlet-name>
   	<jsp-file>/dictionaryAlgoJS.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
	  <servlet-name>dictionaryAlgoJS</servlet-name>
	  <url-pattern>/dictionaryAlgoJS</url-pattern>
  </servlet-mapping>
  
</web-app>
