<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nyc.hhs.service.db.services.application.BusinessApplicationSummaryMapper">

	<resultMap id="businessApplicationSummary" type="com.nyc.hhs.model.BusinessApplicationSummary">
		<result property="msQuestions_DocumentName" column="ID" />
		<result property="msDocumentType" column="DOCUMENT_TYPE" />
		<result property="msStatus" column="STATUS" />
		<result property="msModifiedDate" column="MODIFIED_DATE" /> 
		<result property="msModifiedBy" column="MODIFIED_BY" /> 
		<result property="msFormID" column="FORM_ID"></result>
		<result property="msFormVersion" column="FORM_VERSION"></result>
		<result property="msFormName" column="FORM_NAME"></result>
		<result property="msSectionID" column="SECTION_ID"></result>
	</resultMap>

	<select id="getBusinessApplicationSummary" parameterType="hashmap" resultMap="businessApplicationSummary">
	   SELECT s.SECTION_ID,s.SECTION_ID AS ID,'Section'DOCUMENT_TYPE,s.SECTION_STATUS AS STATUS,
	   			s.MODIFIED_BY,s.MODIFIED_DATE,s.FORM_ID,s.FORM_VERSION,s.FORM_NAME 
	   FROM SECTION s 
	   WHERE s.APPLICATION_ID = #{asApplicationId} AND s.ORGANIZATION_ID = #{asOrgId} 
	   UNION 
	   SELECT s.SECTION_ID,d.DOCUMENT_ID AS ID,'DOCUMENT' DOCUMENT_TYPE, d.DOCUMENT_STATUS AS STATUS, 
	   		d.MODIFIED_BY, d.MODIFIED_DATE, d.FORM_ID, d.FORM_VERSION, d.FORM_NAME 
	   FROM DOCUMENT d, SECTION s 
	   WHERE d.BUSINESS_APPLICATION_ID = #{asApplicationId} AND d.ORGANIZATION_ID = #{asOrgId} AND 
	   		s.FORM_ID=d.FORM_ID AND s.FORM_VERSION = d.FORM_VERSION and 
	   		s.FORM_NAME = d.FORM_NAME
	</select>	
	
</mapper>
