@charset "utf-8";

/* Added for relase 3 */
#documentValuePop .procurementFilter .label {
	white-space: normal !important;
}
#documentValuePop .procurementFilter .leftColumn {
	float: left;
	width: 40%;
}
#documentValuePop .procurementFilter .rightColumn {
	float: right;
	width: 60%;
}
	#documentValuePop .procurementFilter .leftColumn span,#documentValuePop .procurementFilter .rightColumn span
		{
		margin-bottom: 4px;
	}

.formcontainerFinance {
	width: 420px !important;
	top:31px !important
}
	.formcontainerFinance .row {
		clear: both;
		overflow: hidden;
		padding: 0;
		margin: 0;
		min-height: 22px;
	}
		.formcontainerFinance .row span.label {
			background: #F2F2F2;
			float: left;
			margin: 0 8px 3px 0;
			min-height: 20px;
			padding: 4px 5px 4px 0;
			text-align: right;
			width: 26% !important;
			font-weight: bold;
			/*font-size: 12px;*/
			white-space: normal !important
		}

		.formcontainer .row span.clearLabel {
			background: none;
			width: 20%;
		}

		.formcontainerFinance .row span.formfield {
			float: left;
			min-height: 20px;
			padding: 4px 0;
			text-align: left;
			width: 68% !important;
		}
			/*.formcontainerFinance .row span.formfield input,.formcontainerFinance .row span.formfield select
				{
				width: 99% !important;
			}*/
			.formcontainerFinance .row span.formfield .datepicker, .formcontainer .row span.formfield .datepicker {
				width: 78px !important;
			}
.formcontainerFinance .row span.formfield .leftColumn,.formcontainer .row span.formfield .leftColumn
	{
	float: left;
	width: 56%
}
.formcontainerFinance .row span.formfield .rightColumn,.formcontainer .row span.formfield .rightColumn
	{
	float: right;
	width: 44%
}
	.formcontainerFinance .row span.formfield .leftColumn span,.formcontainerFinance .row span.formfield .rightColumn span
		{
		margin-bottom: 4px;
		display: block;
		float:none
	}
		.formcontainerFinance .row span.formfield .leftColumn span input,.formcontainerFinance .row span.formfield .rightColumn span input
			{
			width: auto !important;
			border: none
		}
		.formcontainerFinance .row span.formfield .leftColumn span label, .formcontainerFinance .row span.formfield .rightColumn span label{
			
		}

.formcontainerFinance .row span.formfield .radio {
	width: auto !important;
}
.formcontainerFinance .error {
	float: left;
	white-space: normal;
	width:auto !important
}
.formcontainer .row span.clear {
	background: transparent
}


/* Common parameters used throughtout application*/
.proposalConfigDrpdwn {
	width: 98% !important;
}
.proposalConfigFormfield {
	width: 49% !important;
}

.evaluationTxtBox {
	width: 80%
}
.evaluationTxtBoxSm {
	width: 41px
}

.tabDisabled a {
	color: #999 !important;
	cursor: default !important
}
.customtabsR2 ul li a {
	padding: 0.5em !important;
}

/* Budget List icons on Financials */
.budgetModification,.BudgetAmendment,.BudgetUpdate,.ContractBudget {
	background: url(../images/otherIcons.png) no-repeat 2px -214px;
	display: inline-block;
	padding-left: 22px !important;
	margin-left: 4px
}
	.BudgetAmendment {
		background-position:3px 2px
	}
	.BudgetUpdate {
		background-position:0 -430px
	}
	.ContractBudget {
		background-position:2px -648px
	}
.tabularWrapper .budgetModification, .tabularWrapper .BudgetAmendment, .tabularWrapper .BudgetUpdate, .tabularWrapper .ContractBudget{
	float: none;
}
.taxonomyTaggingWrapper {
	overflow: hidden;
	padding: 0 0 10px 0
}

/* Agency Setting - R3 Starts */
.generateListPanel {
	background: url(../images/trans_bg.png) repeat-x 0 0 #DCDCDC;
	border: 1px solid #bbb;
	border-top: none;
	clear: both;
	margin: -16px 0 0 4px;
	padding: 4px
}
.agencyGreyTitle {
	margin: 0;
	border-top: 1px solid #bbb;
}
.agencySettingWrapper {
	border: 1px solid #EFEFEF;
	overflow: hidden;
	padding: 0 0 10px 10px
}
.agencySettingWrapper .lftContainer,.agencySettingWrapper  .rhtContainer
	{
	float: left;
	width: 45%;
}
.taxonomyTaggingWrapper .lftContainer {
	float: left;
	width: 32%;
}
.taxonomyTaggingWrapper .rhtContainer {
	float: right;
	width: 65%;
}
/*.agencySettingWrapper .lftContainer .agencyGreyTitle,.agencySettingWrapper  .rhtContainer .agencyGreyTitle
.taxonomyTaggingWrapper .lftContainer .agencyGreyTitle,.taxonomyTaggingWrapper .rhtContainer .agencyGreyTitle
	{
	text-align: center;
}
*/
.agencySettingWrapper .lftContainer select, 
.taxonomyTaggingWrapper .lftContainer select,
.taxonomyTaggingWrapper .rhtContainer select,
.agencySettingWrapper  .rhtContainer select {
	width: 100%;
	height: 161px;
	height:144px\0; /* only IE */
	height/*\**/:143px\9;/* only IE8 */
	-bracket-:hack(;
        height: 151px;
        );
}
.taxonomyTaggingWrapper .lftContainer .taxonomyTaggingLftCell{
	 width: 97.5%;
	 height: 216px;
	 border:1px solid #ccc;
	 overflow:auto;
	 padding:4px 0 4px 4px;
 
}
.taxonomyTaggingWrapper .rhtContainer select.taxonomy{
	height: 216px !important;
}
/*
.agencySettingWrapper  .rhtContainer select {
	width: 100%;
	height: 170px;
}
*/

.agencySettingWrapper  .rhtContainer {
	margin-left: 4%;
}



/* Agency Setting - R3 Ends */
.tabularWrapper table th.center,.tabularWrapper table td.center,.alignCenter
	{
	text-align: center;
}
.tabularWrapper td label{
	float:right
}
.tabularWrapper th.centerAlign{
	text-align:center
}
.tabularWrapper th.right{
	text-align:right;
	float:none
}
.taskComments2, .taskCommentsRight{
	margin: 0;
    padding: 0 2% 0 0;
    width: 48%
}
.taskComments2 .commentsHeight, .taskCommentsRight .commentsHeight{
	height:5em
}
.taskCommentsRight{
	 width: 47%;
	 padding:0 0 0 2%
}
.taskComments p{line-height:16px}

.scoreWrapper table {
	margin: 0 0 0 1px;
	width: 99.9%;
}
.scoreWrapper table td span {
    /* font-size: 120%;
    font-weight: bold; */
    text-align: center;
    width: 100%;
}
.scoreWrapper{
	clear:both;
}
	.scoreWrapper table th {
		font-weight: bold;
		font-size: 12px;
		color: #000;
		background: url(../images/trans_bg.png) repeat-x scroll 0 0 #B6DDDC;
		padding: 5px 3px;
		border: 1px solid #E4E4E5;
		border-bottom: 1px solid #adadad
	}
	.scoreWrapper table td {
		padding: 5px 3px;
		/* border: 1px solid #E4E4E4; */
	}
.scoreWrapper table tr.alternate {
	background: #F2F2F2
}
.scoreWrapper table td.totalScore{
			background:#f5f5f5;
			border:2px solid #ccc;
			font-weight:bold;
			font-size:120%;
			text-align:center
		}
		.scoreWrapper table td.accumulativeScore{
			background:#00cc00;
			color: #FFFFFF !important;
		    font-size: 140%;
		    font-weight: bold;
		    text-align:center;
		    border:2px solid #009900
		}
		
.scoreWrapper table th.totalScore, .avgScore {
    background: none repeat scroll 0 0 #D5EBE9;
    border: 1px solid #CCC;
    font-weight:bold
}
.scoreWrapper table tfoot td {
	font-weight: bold;
	font-size: 140%;
	text-align: center;
	color: #747474;
	background: url(../images/trans_bg.png) repeat-x scroll 0 0 #FAFAFA;
}
.scoreWrapper table tfoot td.total {
	text-align: right;
	padding: 0;
}
.scoreWrapper table tfoot td.total label {
	border-bottom: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
	padding-left: 22%;
	padding-right: 4px;
	color: #747474;
	font-weight: bold;
	float: right;
	line-height: 26px;
}
.scoreWrapper table tfoot td.borderNone, .scoreWrapper table th.borderNone{
		border:none;
		background:none;
	}
.scoreWrapper table tfoot td.borderNone {
	border: none;
}
.scoreWrapper table td.evaluationScore {
	font-size: 140%;
	text-align: center;
}
.scoreWrapper table td.evaluationScore label {
	font-weight: bold;
	color: #747474;
}
.scoreWrapper table th.evaluationScore {
	text-align: center;
}
.taskfilter select{
  min-width:151px;
}

.tasksize{
	width:151px;
	
}
.positionAbsolute {
	position: absolute;
}

.overlayClass {
	display: none;
	position: absolute;
	background: #fff;
}
.img-load {
	position: absolute;
	width: auto !important;
	text-align: center;
}

.homepageHHS table {
	float: none !important;
}

/*Added height as change for Returned Payment Review Task comment box height*/ 
.taskFullCommentsTxtarea {
	resize: none;
	width: 96%;
	font-size: 12px;
	height:75px !important;
}

/*
.Column2 {
	width: 704px;
}
*/

.taskCommentsFull {
	width: 100.2%;
	float: left;
	border-right: 1px solid #ccc;
	margin: 1% 0;
	padding: 0 1% 1% 1%;
	line-height: 24px
}

.ValidationError {
	color: red !important;
}

.paginationWrapper {
	position: relative
}

/* Sorting */
.sort-descending-js>label {
	background: url(../images/sortArrow.png) no-repeat scroll 100% -2% transparent;
	padding-right: 14px;
}
.sort-ascending-js>label {
	background: url(../images/sortArrow.png) no-repeat scroll 100% 101% transparent;
	padding-right: 14px;
}



th.heading-js {
	cursor: pointer;
	font-weight: bold;
}

div.procurement {
	padding: 0 8px;
	line-height: 22px;
}

div.procurement span {
	padding-right: 10px;
	float: left;
}

div.procurement label {
	display: block;
}

.hiddenBlock {
	display: none;
}

#tabs-container {
	min-height: 600px;
}

.taskButtons input.addtoVault {
	background: #F5F5F5 url(../images/otherIcons.png) no-repeat 4px -862px;
	padding-left: 24px
}

span.exclIcon {
	display: inline-block
}

span.exclIcon label {
	background: transparent url(../images/otherIcons.png) no-repeat -93px -957px;
	padding: 2px 0 4px 4px;
	float:left
}
 /*Added in R7*/
span.infoMessageForContract label{
	background: transparent url(../images/Flag.png) no-repeat 0px 2px;
	padding: 2px 14px 4px 4px;
	float:left;
}
 /*R7 End*/
span.info-icon {
	background: transparent url(../images/info-icon1.png) no-repeat ;
	padding: 2px 0 4px 4px;
	float:left;
	width:24px;
	margin-left: -4px;
}

div.addProcurement .formfield span.leftColumn{
	  /*created to remove inline classed from procurement summary */
	width: 45% !important;
}
div.addProcurement .formfield span.rightColumn{
	 width: 55% !important;
}
div.addProcurement .formfield, div.addProcurement span.error{
	 /*created to remove inline classed from procurement summary */
	 width:194px !important;
}
div.addProcurement span.error{
	white-space: nowrap
}


/* Error message with bullets */
ul.errorBullets {
	padding: 8px;
	width: 99%;
	clear: both;
	list-style-type: disc;
	list-style-position: inside;
	line-height: 31px
}
ul.errorBullets li {
	margin-top: -6px;
	margin-bottom: -6px;
	color: #D63301 !important
}

/* Provider R2- Header */
.providerEvaluationHeader{
	clear:both
}
.providerEvaluationHeader .logoWrapper{
	background:url(../images/logos.png) no-repeat 8px -48px transparent;
	width:152px;
	height:70px;
	float:left
}
.providerEvaluationHeader .headerFields{
	float: left;
	width:82%
}
	.providerEvaluationHeader .headerFields div{
		font-weight:bold;
		line-height:22px
	}
	.providerEvaluationHeader .headerFields label{
		font-weight:normal
	}
/* Provider R2- Header Ends */

.passedDisplay{
     background:url(../images/newIcons.png) no-repeat 6px -627px #DBFFDB;
     padding:7px 30px 7px 31px;
     border: 1px solid #6ACA6A;
     clear: both;
     position:relative;
     margin-top:2px; 
     color:#428129
}
/* Fixes for Filters in Finance */
.taskButtons span{
	/*float:left;*/
}
.taskButtons span.count{
	float:left;
}
.taskButtons span.count span{
	display:block;
	float:none;
	text-indent:6px;
	font-size:0.9em;
	white-space: nowrap
}
.taskButtons span input.filterDocument{
	padding-bottom: 8px;
    padding-top: 6px;
    background:url("../images/newIcons.png") no-repeat scroll 109% 12px #F5F5F5 !important
}
.taskButtons span input.upload {
    background-position: 0.2em -222px !important;
    padding: 6px 4px 6px 16px;
}

.paymentFormWrapper{
	width: 49%;
	float:left
}
.paymentFormWrapper h3{
	margin-bottom:1%
}
.paymentFormWrapper .row{
	/* margin-left: 1% */
}
.paymentFormWrapper  span.label{
	 text-align:right !important;
	 /*font-weight:normal !important;
	 background:transparent !important;
	 padding:1px 5px 1px 0 !important*/
}
.paymentFormWrapper  span.formfield{
	 width: 49% !important;
	/* background:#fff;
	 min-height:17px !important;
	 padding: 1px 5px 1px 0 !important*/
}
	.paymentFormWrapper  span.formfield .lftAmount{
		width:185px;
		text-align: right;
		float: left;
	}
	.paymentFormWrapper  span.formfield .rhtAmount{
		padding-left:4px
	}
	
/* Budget Summary Starts */
.budgetSummary table{
		margin:0;
		float: right;
		margin-bottom:.9em;
		/*font-size:.9em*/
	}
	.budgetSummary table th{
		border: 1px solid #C5DBEC;				
		padding:2px 3px;	
		color: #2E6E9E;
		background: url(../images/ui-bg_glass_85_dfeffc_1x400.png) repeat-x scroll 50% 50% #DFEFFC;
		font-weight: bold;
		line-height:16px
		}
	.budgetSummary table td{
		padding:2px 3px;
		border:1px solid #A6C9E2;	
		overflow:hidden				
	}
		.budgetSummary table td.noBdr{
			border:none;					
	}
	.budgetSummary table h3{
		padding:0;
		line-height:normal;
		font-size: 1.3em
	}
	.budgetSummary .bold{
		font-weight:bold
	}
	.budgetSummary .togglePlaceholder{
		text-align:center;
		padding:0;
		cursor:pointer
	}
		.budgetSummary td.right{
			text-align:right;
			float:none
		}
		.budgetSummary hr{
			color: #ddd;
			background-color: #ccc;
			height: 3px;
			clear:both;
			border:none
		}
		.budgetSummary .summaryWrapper2{
			margin-bottom:20px;
		}
		
/* Budget Summary Ends */
	.appnavbar{
		clear:both
	}
	.cleaxrHeight{
		height:auto;
		min-height:inherit !important
		} 

/* Disabled class created for evaluation summary over R2 */
.readonlyDisabled{
     background-color: transparent !important;
     color:#333 !important;
}
span.errorHidden{
	float: left;
	padding: 4px 0;
	text-align: left; 
	color:red;
	width:30%;
	display:none
}

/* Below was found at Nycmain.css, which is default Jquery framework classes, was giving issues to Jquery grid */	
#accordianId .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background: url(../images/background.png) repeat-x scroll 0 -291px #F9F9F9 !important;	
}
.accContainer .ui-state-default ,.accContainer .ui-widget-content .ui-state-default /*, .ui-widget-header .ui-state-default*/{
   background: #dfeffc url(../images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
    /*border-bottom: none !important;*/
    color: #2e6e9e !important;
    font-weight: bold !important
}
/*.accContainer .ui-corner-all, .accContainer .ui-corner-top, .accContainer .ui-corner-right, .accContainer .ui-corner-tr,
.customtabs .ui-corner-all, .customtabs .ui-corner-top, .customtabs .ui-corner-right, .customtabs .ui-corner-tr,
	.gridFormField .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-bottom
 {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important
}
*/
.accContainer .ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
	{
	border: 1px solid #fad42e !important;
	background: #fbec88 url(../images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x !important
}


/*
.accContainer .ui-corner-all, #commentsTabs .ui-corner-top { 
	-moz-border-radius: 0; 
	-webkit-border-radius: 0;
	border-radius: 0; 
}
.accContainer .ui-widget-content { 
	border: 1px solid #a6c9e2; 
	background: #fcfdfd url(../images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; 
	color: #222222; 
	}*/
	
	.accContainer .ui-state-hover, 
	.accContainer .ui-widget-content .ui-state-hover, 
	.accContainer .ui-widget-header .ui-state-hover, 
	.accContainer .ui-state-focus, 
	.accContainer .ui-widget-content .ui-state-focus, 
	.accContainer .ui-widget-header .ui-state-focus { 
		border: 1px solid #79b7e7; 
		background: #d0e5f5 url(../images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1d5987; 
	}
.accrodinWrapper ul li label {
	font-size: 1.1em;
	font-weight: bold;
}
.accContainer .accordionWrapper .ui-tabs .ui-tabs-panel{
	border-width: 0px !important
}
.accContainer ul.procurementTabber{
 	width:96%
}

.customtabs .ui-state-active a, .customtabs .ui-state-active a:link, .customtabs .ui-state-active a:visited {
    color: #333333 !important;
    padding:0.5em 1em 0.4em !important
}
.customtabs li.ui-state-hover {
	color: #aa9999;
	background:transparent !important;
	border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
.customtabsR2 ul li a, .customtabsR2 .ui-tabs .ui-tabs-nav li a{
	padding: 0.5em 0.1em 0.4em 0.1em !important
}

/********************* Since we merged jquery css, we don't need this******
 *************/

ul li.ui-state-default {
    background: none repeat scroll 0 0 #FFF !important;
    border: 1px solid #CCC !important;
    color: #AA9999 !important;
    font-weight: bold;
}
/*ul .ui-state-default a, ul  .ui-state-default a:link, ul  .ui-state-default a:visited {
    color: #AA9999;
} */
/*.ui-tabs .ui-tabs-nav li {
    margin-left: 4px !important;
}
*/
/* Below is created for word wrapping of jqgrid in table header */
th.ui-th-column div {
	word-wrap: break-word !important; /* IE 5.5+ and CSS3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	overflow: hidden;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: normal !important;
	height: auto !important;
	line-height: 16px;
}


/* Fixed/resolution of font issue found over jquery grid pager */
.ui-pg-table navtable .ui-pg-div, .ui-pg-table .ui-pg-div{
	font-size:11px !important
}
.accContainer .ui-jqgrid .ui-pg-table td{
	vertical-align: top !important
}
.accContainer .ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon{
	 margin: 4px 2px 0 !important
}

/* Added in R7 for auto approval maintenance provider JQGrid icon */
.autoApproval .ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon{
	 margin: 1px 2px 0 !important
}

.ui-pg-button .ui-pg-div{
	font-size:11px !important
}
.accContainer {
	width:auto
}
/*
.accrodinWrapper h5{
	font-size:1.1em !important
}*/
.autoWidth{
	width:auto !important
}
[disabled].btnSend {
	background: url(../images/otherIcons.png) no-repeat -80px -1985px; 
	padding-left:18px !important;
	margin-right: 5px !important;
}
.btnSend{
	background: url(../images/otherIcons.png) no-repeat -80px -1940px; 
	background-color:#f5f5f5;
	padding-left:18px !important;
	margin-right: 5px !important;
}


[disabled].downloadedDBD {
	background: url(../images/otherIcons.png) no-repeat -76px -2087px; 
	padding-left:19px !important;
	margin-right: 5px !important;
}
.downloadedDBD{
	background:url(../images/otherIcons.png) no-repeat -78px -2041px;
	background-color:#f5f5f5;
	padding-left:19px !important;
	margin-right: 5px !important;
}
[disabled].btnCancel {
	background:url(../images/newIcons.png) no-repeat 5px -196px;
	padding-left:19px !important;
	margin-right: 5px !important;
}
.btnCancel {
	background:url(../images/newIcons.png) no-repeat -1px -828px;
	background-color:#f5f5f5;
	padding-left:29px !important;
	margin-right: 5px !important;
}
.linkPrint{
	cursor: pointer
}

/* Popup new alignemnt for R2/R2 */
.tabularContainer .formcontainer .row span.formfield{
	width:33% !important
}
	.tabularContainer .formcontainer .row span.formfield input{
		width:99%
	}
.tabularContainer .formcontainer .row span.error{
	width:27% !important;
	padding:2px 0 2px 6px
}
.tabularContainer .proposalConfigDrpdwn{
	width:97% !important
}


.equalForms, .tabularContainer .formcontainer .row span.equalForms {
	width: 47% !important;
}
#contactmodeEmail, #contactmodePhone{ /* this is to remove conflict on contact us popup of R1 */
	width:auto
}

.addProcurement .infoMessage{
	margin-left:36%;
	width:39%;
	margin-bottom:6px
}
.accContainer .formcontainer span.label{
	width:52% !important
}
.accContainer .formcontainer span.formfield{
	width:44% !important
}
.accordionWrapper{
	margin-top: 1px; 
	border: 1px solid #EFEFEF;
	border-top-color: #ccc
}
h2 a{
	font-size:72%
}

/* Service selection classes added on behalf of Deepak */
.selectedContainerAgency{
   border:1px solid #333;
   height:159px;
   position:relative;
   margin: 16px 0 16px 4px
}
	.selectedContainerAgency h4{
	   background:#515151;
	   color:#fff;
	   font-weight:bold;
	   position:absolute;
	   margin:-10px 0 0 -7px
	   }
	.selectedContainerAgency ul{
	   clear:both;
	   margin-top:10px;
	   padding:4px 10px 4px 10px;
	   margin-top:28px;
	   overflow:auto;
	   height:122px
	   }
		.selectedContainerAgency ul li{
		   margin:2px 15px 2px 0;
		   float:left;
		   padding-left:20px;
		   cursor:default;
		   color:#5077AA;                
		   white-space: nowrap;
		   text-decoration: underline
		   }

.gridScroll{
	width:100%;
	overflow:auto
}
.widthFull{
	width:98% !important;
}
/*Updated as part of R6 : Returned Payment*/
/*Changed for defect 8592*/
.marginReset{
	margin: 0px !important
}

/* IE7 fixing of Jqgrid - pager buttons */
.accContainer .ui-state-disabled .ui-pg-div{ 
 	color:#000 !important;
 	 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
 	 filter: alpha(opacity=35);
}

/* Procuremrnt Message */
.lockMessage, .infoMessage{
	border: 1px solid #174499;
	display:none;
	color:#3e45ab;
	background:url(../images/iconExclamationMsg.png) no-repeat 3px 4px #d9eefc;
	padding:5px 0 5px 25px;
	clear:both
}
/* Start :Added in R7 for flag contract */
 .flagInfoMessage{
	border: 1px solid #174499;
	display:none;
	background:#FFFF00;
	padding:5px 0 5px 25px;
	clear:both;
	font-weight:bold;
	margin-top: 10px;
}

.flagIconR7{
    display: block;
    background:url(../images/Flag.png) no-repeat;
    background-position: right top;
     padding-bottom: -4px;
    padding-top: 20px;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: -10px;
    margin-bottom: 2px;
}
/* End :Added in R7 for flag contract */

.lockMessage{
	background:url(../images/lockMessage.png) no-repeat 6px 4px #d9eefc;
	padding:6px 0 6px 34px
}

.complianceWrapper .tasktopfilter{
	width:98%
}
.complianceWrapper .formcontainerFinance .row span.label {
	width: 20% !important;
}
.complianceWrapper .formcontainerFinance .row span.formfield {
	width: 28% !important;
}
/*
.complianceWrapper .tasktopfilter {
	background: url(../images/trans_bg.png) repeat-x scroll 0 0 #F2F2F2;
}
*/

.accordionBorder{
	border:2px solid #EFEFEF !important
}

.contractListDiv td, .budgetListDiv td, .invoiceListDiv td, .paymentListCityDiv td{
	padding:5px 7px !important
}
.noRecord{
	border: 1px solid #ccc; 
	border-top: 0; 
	/* padding: 6px; */
	font-style: italic;
	clear:both
}

/* Disabled Accordion */
.disabledAccordion {
	background:url(../images/arrowExpand.png) no-repeat scroll 99% center #C1C1C1 !important;
	cursor:default !important
}
.disabledAccordion ul li label{
	cursor:default !important
}

label.cancel {
      background: url(../images/newIcons.png) no-repeat 0 -253px;
      display: inline-block;
      padding-left: 20px;
      font-size: 12px;
      font-weight: normal;
      cursor: pointer;
      text-decoration: underline;
      margin-left: 10px
}


/* Fixed for overlay popups inputs and textareas over "R1 - Organization information - Basic" */ 
.overlayWrapper .row span.formfield input, .overlayWrapper input#newLegalName, .overlayWrapper #newLegalNameReason {
	width:99%
}

.localTabs{
	word-wrap:break-word
}

/* Defect 5070 Fixing */
.descriptionField{
	height:400px !important; 
	width:500px !important;
	overflow:auto;
	font-size:1em;
	font-family:verdana, arial, sans-serif;
	color:#333
}
.descriptionFieldProvider{
        border:1px solid #ccc;
}


/* Defect 5488 fixed */
.complianceWrapper .Column2 .alert-box-help, .complianceWrapper .Column2 .alert-box-viewDocumentProperties{
		width:400px; 
		min-width:400px !important
	}
	.complianceWrapper .alert-box-help, .complianceWrapper .alert-box-viewDocumentProperties, .alert-box-help{
		min-width:400px !important
	}
	
	
	
/* Grid Sorting Start */
.sort-ascending-new label, .sort-descending-new label{
 	/*background: url(../images/sortDefault.png) no-repeat scroll 100% 0 transparent;*/
    color: #000 !important;
    font-weight: bold;
    padding: 0 20px 0 0;
    text-decoration: none !important
}
.sort-ascending-new label{background: url(../images/sortArrow.png) no-repeat scroll 100% -2% transparent;
}
.sort-descending-new label{background: url(../images/sortArrow.png) no-repeat scroll 100% 101% transparent;
}

.accrodinWrapper ul li label.accordionDollar{
	padding-left:0
}


.cancelGreen {
	background:url("../images/newIcons.png") no-repeat scroll -1px -828px #26B83F;
	padding-left:19px !important;
	color : #FFFFFF;
	margin-right: 5px !important;
}

.cancelRed {
	background:url("../images/newIcons.png") no-repeat scroll -1px -828px #FF0000;
	padding-left:19px !important;
	color : #FFFFFF;
	margin-right: 5px !important;
}


/*Release 5 css starts*/
/* .jstree-default .jstree-node, .jstree-default .jstree-icon {
    width: 100%;
} */

/*.jstree-hovered:hover*/
/*	{background-color: blue;*/
/*	 opacity: 0.5;*/
/*    filter: alpha(opacity=50);}*/
/*Release 5 css ends*/

/*Start R5 : Arrow Up and Down for Evaluation Enhanced*/

.arrow-up {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5.5px 10px 5.5px;
	border-color: transparent transparent #00cf07 transparent;
	display:inline-block;
}
.arrow-down {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5.5px 0 5.5px;
	border-color: #cf000a transparent transparent transparent;
	display:inline-block;
}
.isModifiedDarkGray{
	background-color: #FBE1E2 !important;
}

.graphHelp .graphHelpText{
	visibility: hidden;
    width: 270px;
    background-color: rgb(255,255,204);
    color: #333333;
    text-align: left;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top:10px;
    left:10px;
    opacity: 0;
    transition: opacity 1s;
    font-size: 12px;
    font-weight: 200;	
}

.graphHelp{
	position:absolute;
	left: 650px;
	top: 10px;
}


.graphHelpImg{
    background:url(../images/report_information.png) no-repeat;
    width:22px;
    height:22px;
    background-size: 22px 22px;
}

.graphHelp .graphHelpTextClicked {
    visibility: visible;
    opacity: 1;
    padding-left: 4px;
}
/*End R5 : Arrow Up and Down for Evaluation Enhanced*/
div.editable {
	top: 200px;
	left: 300px;
	width: 300px;
	border: 1px solid #ccc;
	overflow: auto;
	word-wrap: break-word;
}

div.dataDictionarySuggestions {
	width: 120px;
	border: 1px solid #ccc;
	padding: 5px;
	background-color: lightblue;
	margin:5px;
	z-index: 1000;
}

.curse {
	border-bottom: 2px dotted #ff0000;
}

.formcontainer .rowtextarea{
	overflow: visible !important;	
}

.textAlignLeft{
text-align: left !important;
}
.folderPathProp{
	max-HEIGHT: 100px;
	overflow: scroll;
	width: 43% !important;
}
.wrap-by-para{
	overflow: auto;	
}
.wrap-by-para p{
	padding:0px;
}
.uploadComboBox{
	margin-left:5px;
	margin-right:5px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	position:absolute;
	width:276px;
	z-index: 99999;
}
.avoidOverlap{
	margin-top: 5px;
}
.tabspacing ul li {
	margin: 0 0.1em 1px 0 !important;
}
.logoWiden{
	width: 130px;
}
.customtabs-mo ul li.selected a{
	border-radius: 4px;
}
.leftradius{
	border-radius: 3px 0px 0px 4px;
}
.nobackground{
	background: none !important; 
}

.leftTreeWrapper1, .leftTreeWrapper2 {
  overflow-x: scroll;
  overflow-y:hidden;
}

.leftTreeWrapper1 {height: 20px; width: 91.5%;}

.leftTreeScroll1 {
  height: 20px;
}

.evaluationMainRow:hover{
	background-color: #D5EBE0;
	opacity:0.8;
}


/* textarea related css from plugin in R5 starts */
.hwt-container {
	display: inline-block;
	position: relative;
	overflow: hidden !important;
	-webkit-text-size-adjust: none !important;
	width: inherit;
}

.hwt-backdrop {
	position: absolute !important;
	top: 0 !important;
	right: -99px !important;
	bottom: 0 !important;
	left: 0 !important;
	padding-right: 99px !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.hwt-highlights {
	width: auto !important;
	height: auto !important;
	border-color: transparent !important;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	color: transparent !important;
	overflow: hidden !important;
}

.hwt-input {
	display: block !important;
	position: relative !important;
	margin: 0;
	padding: 0;
	border-radius: 0;
	font: inherit;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	pointer-events: none;
}

.hwt-content {
/* 	border: 1px solid; */
	background: none transparent !important;
	pointer-events:auto;
	padding-bottom: 1px;
}

.hwt-backdrop mark {
	color: inherit;
	background-color: transparent;
	border-bottom:2px dotted red;
}
/* textarea related css from plugin in R5 ends */

/* Added in R6 start */
.jqGridGreyCell {
    background:lightgrey
}
.blackLock {
	background : url("../images/blackLock.png") no-repeat scroll 100px  #E9E9E9 !important;
	background-size: 12% !important;
	width: 125px;
	color: #333 !important;
	padding-right: 15px !important;
	border: 1px solid #999 !important;
}
.disabledBlackLock{
    background-color:#d2d2d2 !important;
	color:#999 !important;
	border:1px solid #d2d2d3 !important;	
	cursor:default !important
}
.accContainer .ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.export-jqGrid.ui-icon{
      background-image: url("../images/export.png") !important;
      background-size: 10px 10px !important;
      margin: 8px 0px 0px 5px !important;
}

/* Added in R7 for auto approval maintenance provider JQGrid icon */
.autoApproval .ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.export-jqGrid.ui-icon{
      background-image: url("../images/export.png") !important;
      background-size: 10px 10px !important;
      margin: 4px 0px 0px 5px !important;
}

.paymentMargin{
margin-left:4%;
}
/* Added in R6 end */
/*Added in R7*/
.flagContractTitle{
	white-space: nowrap;
	float: left;
	width: 47% !important;
	overflow: auto;
	padding: 0px 0px;
	text-align: left;
	min-height: 20px;
    max-height: 100px;
}
